 .u-section-1 {
  background-image: url("images/90dcf51d85ed3adfa49b053bd6a4e48390fcc7f0f52d2f2de4975ad94b3ffe2eccc2139a2293de23f9f1102fe717d6514b186644bc1092340a1814_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-1 .u-image-1 {
  width: 354px;
  height: 361px;
  margin: 109px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 145px 0 60px -8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 59px;
    margin-right: -8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -59px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 347px;
    margin-top: 301px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -242px;
    margin-bottom: 0;
  }
}.u-block-1b63-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1b63-3 {
  position: absolute;
  left: 0;
}

.u-block-1b63-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(#2cccc4, #292e33);
}

.u-section-2-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2-1 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-2-1 .u-image-1 {
  width: 256px;
  height: 340px;
  margin: 106px auto 0 47px;
}

.u-section-2-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -300px 47px 60px 321px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-text-2 {
    margin-top: -300px;
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/67d46a9032a87b95f363e367787534e3da13e44b4e114b8c5cd4eae97fee8d0b4e4a08d8592a748ff272226f7a66e5410ac2cf92738de99e2fa1c7_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  margin: 188px auto 0;
}

.u-section-2-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 104px 440px 60px 498px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 340px;
    margin-left: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 230px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 140px;
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 40px;
    margin-left: 98px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/7554e33adcbd59ba1f8802622e4a7cc99bc7ae344f0c090932765e134412db7b6aef33ae7d4a29af279aded1bc4c7b41c5b9b5ea877943d9730e1c_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  margin: 188px auto 0;
}

.u-section-2-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 114px 370px 60px 391px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 270px;
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 160px;
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 70px;
    margin-left: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/96f485dff7fcd930b04c09cb4e5bd72bcc576665f74118757eeeae2853effa1081c2445e36382d01c001cbab672e8cfe9cfa357d71af220aaff6da_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2-4 .u-text-1 {
  font-size: 6rem;
  margin: 188px auto 0;
}

.u-section-2-4 .u-text-2 {
  font-size: 2.25rem;
  width: 436px;
  margin: 140px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2-4 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
  }

  .u-section-2-4 .u-text-2 {
    width: 340px;
  }
}.u-block-a325-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a325-3 {
  position: absolute;
  left: 0;
}

.u-block-a325-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/95ec0005f4c5bb94f67590804f282e65dc2fd35fce3d9579a09506e811bbf6ac1f0f0aff039d604db0dfccdc828b10b05db56ac95c2b1a7c69be27_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 417px;
}

.u-section-3-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3-1 .u-text-2 {
  margin: 28px auto 0;
}

.u-section-3-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/5d110627bda3b9ed4313a7e759299ed23b685a7841fdab3f9f994ee5082f644b7a3b05790f8f0b0f6b2ee3baa9a28b89ae629d53d2a9c7434cd9de_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 417px;
}

.u-section-3-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/9b2d5ffa08d33b76b0584bbc34a5bb9eca66bcaad8deda663b48be812aee1687fdcbaef071cff78a579e2985e1dedc84d067c63a07c1629097940e_1280.jpg');
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 417px;
}

.u-section-3-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-4 {
  background-image: linear-gradient(#1a1a1a, #d156e4);
}

.u-section-4 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 133px 62px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 13px 37px 0 112px;
}

.u-section-4 .u-list-1 {
  margin-top: 120px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 77px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-list-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-repeater-2 {
  min-height: 66px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 83px 0 auto;
  padding: 10px 75px 10px 74px;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 83px 0 auto;
  padding: 10px 75px 10px 74px;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 83px 0 auto;
  padding: 10px 75px 10px 74px;
}

.u-section-4 .u-list-3 {
  margin-top: 77px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-3 {
  min-height: 71px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: 0 -91px 0 111px;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 0 -91px 0 111px;
}

.u-section-4 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  margin: 0 -91px 0 111px;
}

.u-section-4 .u-list-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-repeater-4 {
  min-height: 66px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px;
}

.u-section-4 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 103px;
  padding: 9px 73px 11px;
}

.u-section-4 .u-container-layout-11 {
  padding: 10px;
}

.u-section-4 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 103px;
  padding: 9px 73px 11px;
}

.u-section-4 .u-container-layout-12 {
  padding: 10px;
}

.u-section-4 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto 0 103px;
  padding: 9px 73px 11px;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 68px 801px 0 111px;
}

.u-section-4 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 47px auto 60px 111px;
  padding: 9px 75px 11px 74px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 63px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 63px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
    margin-right: 0;
    margin-left: 100px;
    padding-bottom: 11px;
    padding-left: 54px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.875rem;
    margin-right: 0;
    margin-left: 100px;
    padding-bottom: 11px;
    padding-left: 54px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-4 .u-btn-3 {
    font-size: 0.875rem;
    margin-right: 0;
    margin-left: 100px;
    padding-bottom: 11px;
    padding-left: 54px;
  }

  .u-section-4 .u-list-3 {
    margin-top: 81px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 116px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-list-4 {
    margin-top: 26px;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 62px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 87px;
  }

  .u-section-4 .u-btn-4 {
    font-size: 0.875rem;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 87px;
  }

  .u-section-4 .u-btn-5 {
    font-size: 0.875rem;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 87px;
  }

  .u-section-4 .u-btn-6 {
    font-size: 0.875rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 88px;
    margin-right: 701px;
    margin-left: 11px;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    min-height: 176px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-repeater-2 {
    min-height: 137px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 267px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-repeater-4 {
    min-height: 143px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 492px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-9 {
    margin-right: 112px;
  }
} .u-section-5 {
  background-image: linear-gradient(#d156e4, #3d26ac);
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 78px 133px 0;
}

.u-section-5 .u-text-2 {
  margin: 21px calc(((100% - 1140px) / 2) + 34px) 0 calc(((100% - 1140px) / 2) + 83px);
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 67px 0 0 auto;
}

.u-section-5 .u-repeater-1 {
  min-height: 52px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 calc(((100% - 1140px) / 2) + 146px) 0 auto;
  padding: 12px 56px 14px 55px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -44px auto 0 calc(((100% - 1140px) / 2) + 89px);
  padding: 10px 57px 12px 55px;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -44px auto 0 calc(((100% - 1140px) / 2) + 473px);
  padding: 10px 57px 12px 55px;
}

.u-section-5 .u-list-2 {
  width: 1169px;
  margin: 62px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.u-section-5 .u-repeater-2 {
  min-height: 78px;
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-6 {
  margin: 0 134px 0 5px;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-text-7 {
  margin: 0 134px 0 5px;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-text-8 {
  margin: 0 134px 0 5px;
}

.u-section-5 .u-list-3 {
  width: 1169px;
  margin: 4px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.u-section-5 .u-repeater-3 {
  min-height: 64px;
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 66px;
  padding: 10px 63px 11px 62px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 66px;
  padding: 10px 63px 11px 62px;
}

.u-section-5 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-5 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 66px;
  padding: 10px 63px 11px 62px;
}

.u-section-5 .u-btn-7 {
  margin: 40px calc(((100% - 1140px) / 2) + -29px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 6rem;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 43px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2) + 273px);
  }

  .u-section-5 .u-list-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-repeater-2 {
    min-height: 62px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-list-3 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 51px;
  }

  .u-section-5 .u-repeater-3 {
    min-height: 52px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 99px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2) + 53px);
  }

  .u-section-5 .u-list-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-repeater-2 {
    min-height: 148px;
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }

  .u-section-5 .u-list-3 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-3 {
    min-height: 125px;
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }

  .u-section-5 .u-btn-7 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-top: -44px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-list-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 51px;
  }

  .u-section-5 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-right: 84px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-7 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 82px;
  }

  .u-section-5 .u-list-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-7 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: linear-gradient(#3d26ac, #b63aed);
}

.u-section-6 .u-sheet-1 {
  min-height: 950px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 89px 83px 0;
}

.u-section-6 .u-text-2 {
  margin: 16px 34px 0 83px;
}

.u-section-6 .u-list-1 {
  width: 1120px;
  margin: 84px -52px 0 auto;
}

.u-section-6 .u-repeater-1 {
  min-height: 106px;
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  width: 228px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-list-2 {
  width: 1140px;
  margin: 16px -62px 0 auto;
}

.u-section-6 .u-repeater-2 {
  min-height: 63px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 63px 11px 62px;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 63px 11px 62px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 63px 11px 62px;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 115px 816px 0 83px;
}

.u-section-6 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 33px auto 60px 72px;
  padding: 10px 69px 10px 67px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 89px;
  }

  .u-section-6 .u-list-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 52px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 698px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 210px;
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 119px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-6 .u-text-6 {
    margin-right: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-6 {
    margin-right: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-list-2 {
    width: 340px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 98px;
  }
} .u-section-7 {
  background-image: linear-gradient(#b63aed, #2cccc4);
}

.u-section-7 .u-sheet-1 {
  min-height: 515px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 58px 679px 0 59px;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 193px 45px 0 933px;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: -48px 627px 0 101px;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  margin: -48px 341px 0 635px;
}

.u-section-7 .u-image-1 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 38px;
}

.u-section-7 .u-image-2 {
  width: 39px;
  height: 39px;
  margin: -42px 515px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 33px;
  height: 33px;
  margin: -37px 217px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 538px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 778px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 527px;
    margin-left: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 241px;
    margin-left: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 318px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 558px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 131px;
    margin-left: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 138px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 378px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 128px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 41px;
    margin-left: 335px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 501px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 301px;
  }
}